@import '../../utils/variable.scss';

.column-isi-chat{
    display: flex;
    height: auto;
    width: 100%;
    padding: 5px 20px;
    z-index: 11;
    align-items: flex-end;
    background-color: transparent;
    transition: 0.3s ease-in-out;

    .img-user-chat{
        display: flex;
        height: 35px;
        width: 35px;
        border-radius: 500px;
        object-fit: cover;
        object-position: center;
        cursor: pointer;
    }

    .column-isi-chat-user{
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        width: auto;
        max-width: 500px;
        background-color: #fff;
        border-radius: 5px;
        padding: 10px 50px 10px 13px;
        text-align: start;
        margin-left: 10px;

        .name-chat-user{
            display: flex;
            font-size: 11pt;
            font-weight: 500;
        }

        .column-pesan-reply-user{
            display: flex;
            height: auto;
            flex-direction: column;
            border-left: 2px solid $colorEmpat;
            padding-left: 7px;
            margin-bottom: 5px;
            justify-content: center;
            cursor: pointer;

            .name-user-reply{
                display: flex;
                font-size: 10pt;
                font-weight: 500;
                color: $colorEmpat;
            }

            .isi-reply-user{
                display: flex;
                font-size: 10pt;
            }
        }

        .pesan-user{
            display: flex;
            font-size: 10pt;
            margin-top: 0px;
        }
        .date-pesan{
            display: flex;
            position: absolute;
            right: 10px;
            bottom: 5px;
            font-size: 10pt;
            color: #aaa;
        }

        .iconReply{
            display: none;
            position: absolute;
            font-size: 12pt;
            color: #aaa;
            right: 10px;
            cursor: pointer;
            top: 5px;
            transition: 0.3s ease-in-out;
            &:hover{
                color: $colorLima;
            }
        }
    }
}