.wrapp-home{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #fff;

    .kolom-kiri{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 40%;
        background-color: #eee;
        border-right: 1px solid #bbb;

        .nav-profile{
            display: flex;
            height: auto;
            width: 100%;
            padding: 20px;
            border-bottom: 1px solid #aaa;
            align-items: center;

            .img-nav-profile{
                display: flex;
                height: 40px;
                width: 40px;
                border-radius: 500px;
                object-fit: cover;
                object-position: center;
                cursor: pointer;
            }

            .name-nav-profile{
                display: flex;
                font-size: 12pt;
                font-weight: bold;
                margin-left: 10px;
            }
        }

        .group-chat{
            display: flex;
            height: 70px;
            width: 100%;
            padding: 10px 20px;
            background-color: #fff;
            align-items: center;
            cursor: pointer;

            .img-group-chat{
                display: flex;
                height: 40px;
                width: 40px;
                object-fit: cover;
                object-position: center;
                border-radius: 500px;
                margin-right: 10px;
            }

            .column-name-group{
                display: flex;
                flex-direction: column;

                .name-group-chat{
                    display: flex;
                    font-size: 12pt;
                }

                .pesan-masuk{
                    display: flex;
                    font-size: 10pt;
                    margin-top: 5px;
                }
            }
        }
    }

    .kolom-kanan{
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        height: 100%;
        max-height: auto;
        width: 60%;
        background-color: silver;
        overflow-y: auto;

        .img-background-chat{
            display: flex;
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        .nav-profil-group-chat{
            display: flex;
            position: absolute;
            top: 0;
            height: 60px;
            width: 100%;
            background-color: #eee;
            padding: 10px 20px;
            align-items: center;
            overflow: hidden;

            .img-profil-group-chat{
                display: flex;
                height: 40px;
                width: 40px;
                border-radius: 500px;
                object-fit: cover;
                object-position: center;
                margin-right: 10px;
                cursor: pointer;
            }

            .column-name-profil-group-chat{
                display: flex;
                flex-direction: column;

                .name-profil-group-chat{
                    display: flex;
                    font-size: 12pt;
                }

                .total-members{
                    display: flex;
                    font-size: 10pt;
                    color: #777;
                }
            }

        }

        .form-input-chat{
            display: flex;
            height: 60px;
            width: 100%;
            padding: 10px 40px;
            background-color: #eee;
            z-index: 1;

            .input-user-chat{
                display: flex;
                height: 100%;
                width: 100%;
                font-size: 11pt;
                padding: 10px 20px;
                border-radius: 50px;
                border: none;
                outline: none;
                background-color: #fff;
            }
            .input-user-chat::placeholder{
                font-size: 11pt;
                color: #aaa;
            }
        }
    }
}